

{% assign projects = include.projects %}

{% if projects %}

	<ul class="preview-list">
	{% for p in projects %}

	<li>
		<a href="{{p.url}}">
			<div class="preview-text">
				<h2>{{ p.title }}</h2>
				<ul class="project-meta">
					<li>
						<strong>Materials:</strong>
						{{ p.materials | array_to_sentence_string }}
					</li>

					<li>
						<strong>Price:</strong>
						£{{ p.price }}
					</li>

				</ul>
			</div>

			<img src="/assets/images/{{ p.images[0] }}"/>
		</a>
	</li>



	{% endfor %}
	</ul>
{% endif %}
