.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background: $light-green;
  $hero-color: #fff;
  $gradient-angle: 10deg;
  $hero-image: '/assets/images/banner.jpg';
  $inner-banner-max-width: 300px;
  $banner-max-width: $inner-banner-max-width + 40px;

  @include media($banner-max-width) {
    background-color: $hero-background;
    background-image: url($hero-image);
    background-position: center;
    background-size: cover;
    padding-bottom: 3em;
  }

  img {
    height: 4em;
    margin: 0 auto 1em;
  }

  .hero-inner {
    @include clearfix;
    background-color: $dark-green;
    margin: 0 auto;
    max-width: $inner-banner-max-width;
    padding: 2em 0;
    text-align: center;

    @include media($banner-max-width) {
      padding: 3em 0;
    }



    .hero-copy {
      text-align: center;

      h1 {
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          //font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto;

      }
    }
  }
}
