.hero {
  $base-border-radius: 3px !default;
  $action-color: #477DCA !default;
  $large-screen: em(860) !default;
  $hero-background: tint($dark-green, %40);
  $hero-color: #fff;
  $gradient-angle: 10deg;
  $hero-image: '/images/headboard.jpg';

  background-image:url($hero-image);
  background-color: $hero-background;
  background-position: center;
  background-size: cover;
  padding-bottom: 3em;

  .hero-logo img {
    height: 4em;
    margin: 3em auto 1em;
  }

  .hero-inner {
    @include clearfix;
    margin: auto;
    padding: 0;
    text-align: center;
    background-color: $dark-green;
    max-width: 300px;

    @include media($large-screen) {
      max-width: 33%;
    }


    .hero-copy {
      text-align: center;

      h1 {
        font-weight: 700;
        letter-spacing: 4px;
        text-transform: uppercase;
        color: $hero-color;
        font-size: 1.6em;
        margin-bottom: 0.5em;

        @include media($large-screen) {
          //font-size: 1.8em;
        }
      }

      p {
        color: $hero-color;
        line-height: 1.4em;
        margin: 0 auto 3em auto;

        @include media($large-screen) {
          //font-size: 1.1em;
          max-width: 40%;
        }
      }
    }
  }
}
