.primary-navigation {
  $base-border-radius: 3px !default;
  $dark-gray: #333 !default;
  $large-screen: em(860) !default;
  $base-font-color: $dark-gray !default;
  $primary-navigation-padding: 1em;
  $primary-navigation-logo-height: 2em;
  $primary-navigation-background: #fff;
  $primary-navigation-color: transparentize($base-font-color, 0.3);
  $primary-navigation-color-hover: $base-font-color;
  $primary-navigation-height: 40px;
  $primary-navigation-item-padding: 1em;
  $primary-navigation-submenu-padding: 1em;
  $primary-navigation-submenu-width: 12em;
  $primary-navigation-item-nudge: 2.2em;
  $horizontal-bar-mode: $large-screen;

  background-color: $primary-navigation-background;
  //border-bottom: 1px solid darken($primary-navigation-background, 6%);
  min-height: $primary-navigation-height;
  width: 100%;
  z-index: 9999;



// Nav menu

  .primary-navigation-wrapper {
    @include outer-container;
    @include clearfix;
    position: relative;
    z-index: 999;
    padding: 5px 0;
  }

  ul.primary-navigation-menu {
    -webkit-transform-style: preserve-3d;
// stop webkit flicker
    clear: both;
    display: none;
    margin: 0 auto;
    overflow: visible;
    padding: 0;
    width: 100%;
    z-index: 99999;

    &.show {
      display: block;
      text-align: center;
    }


  }


// The nav items

  .nav-link:first-child {
    margin-left: $primary-navigation-item-nudge;
  }

li.nav-link {
    background: transparent;
    display: inline;
    line-height: $primary-navigation-height;
    overflow: hidden;
    padding-right: $primary-navigation-submenu-padding;
    text-align: right;
    width: 100%;
    z-index: 9999;

    a {
      color: $primary-navigation-color;
      display: inline-block;
      outline: none;
      text-decoration: none;
      padding-right: $primary-navigation-item-padding;
      border-right: 1px solid;

      &:focus,
      &:hover {
        color: $primary-navigation-color-hover;
      }

    }

    &:last-of-type  a { border-right: 0;}

  }
}
