.preview-list{

  list-style: none outside none;

  a { @extend %white-anchor;}

  img,
  div {
    @include media($medium-screen) {

      @include span-columns(6);
      @include omega(2n);

  	}
	}

	img{
        height: auto;
	}

	li {
		@include clearfix;
		background-color: $dark-green;
		margin-bottom: 1em;

	}

  .preview-text {
	  margin: 0 0 .5em ;
    padding: 0 .5em;

	  @include media($medium-screen) {
			 margin-top: 1em;
       padding: 0 .5em 0 0;
		 }

     li {
			 margin-bottom: 0;
		 }

   }

}
