.product-slider {

	li{
	  position:relative;
	  div {	position: absolute;
		bottom: 0px;
		background-color: white;
		display:none
		}
	  h2 {	position: absolute;
		top: 0px;}
          
        }


	a:hover {
		div {display:block;}
	}
}
