.product-slider {
	
	list-style: none outside none;
        padding-left: 0;
        margin-bottom:0;

	li{
		  display:block;
		  float: left;
	   	  margin-right: 6px;
	  	  

		  position:relative;
		  
		  .slider-text {	
			position: absolute;
			bottom: 0px;
		  }
		  .slider-desc {	
			background-color: white;
			max-height: 0;
			transition: 2s;
			overflow-y:hidden;

		  	p:last-of-type {margin-bottom:0px; }			
		  }
		  h2, h2:hover, h2:active { 
		  	color:white; 
			display:inline;
			background-color:black; 
		  }
		  img {
	    	  display: block;
	    	  height: auto;
	    	  max-width: 100%;
		  }
		  
		  a:hover > .slider-desc {
				max-height:30%;
			}
		  }

	}

}



